<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <!-- there should be other options already in here! -->
    <StartAction>Program</StartAction>
    <StartProgram>C:\Program Files\Autodesk\AutoCAD Mechanical 2012\acad.exe</StartProgram>
  </PropertyGroup>
</configuration>