<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD-2012.Net.Base" version="1.0.0" targetFramework="net45" />
  <package id="AutoCAD-2012.Net.Interop.x64" version="1.0.0" targetFramework="net45" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="MIConvexHull" version="1.1.19.1019" targetFramework="net45" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net45" />
  <package id="TomsToolbox.Essentials" version="2.3.2" targetFramework="net45" />
  <package id="TomsToolbox.ObservableCollections" version="2.3.2" targetFramework="net45" />
  <package id="TomsToolbox.Wpf" version="2.3.2" targetFramework="net45" />
</packages>